body {background-color: darkolivegreen;}

#container {background-color: rgb(136, 177, 130);
width: 1600px;
margin: 30px auto;
border: 2px double black;
padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    font-size: 24px;
    color: rgb(0, 86, 97);
    font-weight: bold;
}

nav a:hover {
text-decoration: none;
}

h1, h2, h3, footer {
    text-align: center;
    color: rgb(0, 86, 97);
}
